pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #373941 }
.highlight { background: #23262E; color: #D5CED9 }
.highlight .c { color: #87888F } /* Comment */
.highlight .err { color: #FC644D } /* Error */
.highlight .k { color: #C74DED } /* Keyword */
.highlight .l { color: #96E072 } /* Literal */
.highlight .n { color: #00E8C6 } /* Name */
.highlight .o { color: #EE5D43 } /* Operator */
.highlight .ch { color: #87888F } /* Comment.Hashbang */
.highlight .cm { color: #87888F } /* Comment.Multiline */
.highlight .cp { color: #C74DED } /* Comment.Preproc */
.highlight .cpf { color: #96E072 } /* Comment.PreprocFile */
.highlight .c1 { color: #87888F } /* Comment.Single */
.highlight .cs { color: #87888F } /* Comment.Special */
.highlight .gd { color: #EE5D43 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FC644D } /* Generic.Error */
.highlight .gh { color: #F92672 } /* Generic.Heading */
.highlight .gi { color: #96E072 } /* Generic.Inserted */
.highlight .go { color: #96E072 } /* Generic.Output */
.highlight .gp { color: #87888F } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #F0A } /* Generic.Subheading */
.highlight .gt { color: #FC644D } /* Generic.Traceback */
.highlight .kc { color: #C74DED } /* Keyword.Constant */
.highlight .kd { color: #C74DED } /* Keyword.Declaration */
.highlight .kn { color: #C74DED } /* Keyword.Namespace */
.highlight .kp { color: #C74DED } /* Keyword.Pseudo */
.highlight .kr { color: #C74DED } /* Keyword.Reserved */
.highlight .kt { color: #C74DED } /* Keyword.Type */
.highlight .ld { color: #96E072 } /* Literal.Date */
.highlight .m { color: #F39C12 } /* Literal.Number */
.highlight .s { color: #96E072 } /* Literal.String */
.highlight .na { color: #F39C12 } /* Name.Attribute */
.highlight .nb { color: #FFE66D } /* Name.Builtin */
.highlight .nc { color: #FFE66D } /* Name.Class */
.highlight .no { color: #F39C12 } /* Name.Constant */
.highlight .nd { color: #FFE66D } /* Name.Decorator */
.highlight .ni { color: #F39C12 } /* Name.Entity */
.highlight .ne { color: #F39C12 } /* Name.Exception */
.highlight .nf { color: #FFE66D } /* Name.Function */
.highlight .nl { color: #00E8C6 } /* Name.Label */
.highlight .nn { color: #00E8C6 } /* Name.Namespace */
.highlight .nx { color: #D5CED9 } /* Name.Other */
.highlight .py { color: #00E8C6 } /* Name.Property */
.highlight .nt { color: #F92672 } /* Name.Tag */
.highlight .nv { color: #00E8C6 } /* Name.Variable */
.highlight .ow { color: #EE5D43 } /* Operator.Word */
.highlight .w { color: #D5CED9 } /* Text.Whitespace */
.highlight .mb { color: #F39C12 } /* Literal.Number.Bin */
.highlight .mf { color: #F39C12 } /* Literal.Number.Float */
.highlight .mh { color: #F39C12 } /* Literal.Number.Hex */
.highlight .mi { color: #F39C12 } /* Literal.Number.Integer */
.highlight .mo { color: #F39C12 } /* Literal.Number.Oct */
.highlight .sa { color: #96E072 } /* Literal.String.Affix */
.highlight .sb { color: #96E072 } /* Literal.String.Backtick */
.highlight .sc { color: #96E072 } /* Literal.String.Char */
.highlight .dl { color: #96E072 } /* Literal.String.Delimiter */
.highlight .sd { color: #96E072 } /* Literal.String.Doc */
.highlight .s2 { color: #96E072 } /* Literal.String.Double */
.highlight .se { color: #96E072 } /* Literal.String.Escape */
.highlight .sh { color: #96E072 } /* Literal.String.Heredoc */
.highlight .si { color: #EE5D43 } /* Literal.String.Interpol */
.highlight .sx { color: #96E072 } /* Literal.String.Other */
.highlight .sr { color: #7CB7FF } /* Literal.String.Regex */
.highlight .s1 { color: #96E072 } /* Literal.String.Single */
.highlight .ss { color: #96E072 } /* Literal.String.Symbol */
.highlight .bp { color: #FFE66D } /* Name.Builtin.Pseudo */
.highlight .fm { color: #FFE66D } /* Name.Function.Magic */
.highlight .vc { color: #00E8C6 } /* Name.Variable.Class */
.highlight .vg { color: #00E8C6 } /* Name.Variable.Global */
.highlight .vi { color: #00E8C6 } /* Name.Variable.Instance */
.highlight .vm { color: #00E8C6 } /* Name.Variable.Magic */
.highlight .il { color: #F39C12 } /* Literal.Number.Integer.Long */
