pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #262E47 }
.highlight { background: #07090F; color: #EFF }
.highlight .c { color: #546E7A } /* Comment */
.highlight .err { color: #FF5370 } /* Error */
.highlight .k { color: #C792EA } /* Keyword */
.highlight .l { color: #C3E88D } /* Literal */
.highlight .o { color: #89DDFF } /* Operator */
.highlight .p { color: #89DDFF } /* Punctuation */
.highlight .ch { color: #546E7A } /* Comment.Hashbang */
.highlight .cm { color: #546E7A; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #89DDFF } /* Comment.Preproc */
.highlight .cpf { color: #C3E88D } /* Comment.PreprocFile */
.highlight .c1 { color: #546E7A; font-style: italic } /* Comment.Single */
.highlight .cs { color: #546E7A } /* Comment.Special */
.highlight .gd { color: #FF5370 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF5370 } /* Generic.Error */
.highlight .gh { color: #C3E88D } /* Generic.Heading */
.highlight .gi { color: #C3E88D } /* Generic.Inserted */
.highlight .go { color: #C3E88D } /* Generic.Output */
.highlight .gp { color: #546E7A } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #C3E88D } /* Generic.Subheading */
.highlight .gt { color: #FF5370 } /* Generic.Traceback */
.highlight .kc { color: #F78C6C } /* Keyword.Constant */
.highlight .kd { color: #C792EA } /* Keyword.Declaration */
.highlight .kn { color: #89DDFF } /* Keyword.Namespace */
.highlight .k-Other { color: #89DDFF } /* Keyword.Other */
.highlight .kp { color: #C792EA } /* Keyword.Pseudo */
.highlight .kr { color: #C792EA } /* Keyword.Reserved */
.highlight .kt { color: #C792EA } /* Keyword.Type */
.highlight .ld { color: #C3E88D } /* Literal.Date */
.highlight .m { color: #F78C6C } /* Literal.Number */
.highlight .s { color: #C3E88D } /* Literal.String */
.highlight .na { color: #FFCB6B; font-style: italic } /* Name.Attribute */
.highlight .nb { color: #C792EA } /* Name.Builtin */
.highlight .nc { color: #FFCB6B } /* Name.Class */
.highlight .no { color: #F78C6C } /* Name.Constant */
.highlight .nd { color: #82AAFF; font-style: italic } /* Name.Decorator */
.highlight .ni { color: #F07178 } /* Name.Entity */
.highlight .ne { color: #FF5370 } /* Name.Exception */
.highlight .nf { color: #82AAFF } /* Name.Function */
.highlight .nl { color: #82AAFF } /* Name.Label */
.highlight .nt { color: #F07178 } /* Name.Tag */
.highlight .nv { color: #EFF } /* Name.Variable */
.highlight .ow { color: #89DDFF } /* Operator.Word */
.highlight .pm { color: #89DDFF } /* Punctuation.Marker */
.highlight .w { color: #EFF } /* Text.Whitespace */
.highlight .mb { color: #F78C6C } /* Literal.Number.Bin */
.highlight .mf { color: #F78C6C } /* Literal.Number.Float */
.highlight .mh { color: #F78C6C } /* Literal.Number.Hex */
.highlight .mi { color: #F78C6C } /* Literal.Number.Integer */
.highlight .mo { color: #F78C6C } /* Literal.Number.Oct */
.highlight .sa { color: #C3E88D } /* Literal.String.Affix */
.highlight .sb { color: #C3E88D } /* Literal.String.Backtick */
.highlight .sc { color: #C3E88D } /* Literal.String.Char */
.highlight .dl { color: #C3E88D } /* Literal.String.Delimiter */
.highlight .sd { color: #C3E88D } /* Literal.String.Doc */
.highlight .s2 { color: #C3E88D } /* Literal.String.Double */
.highlight .se { color: #89DDFF } /* Literal.String.Escape */
.highlight .sh { color: #C3E88D } /* Literal.String.Heredoc */
.highlight .si { color: #C3E88D } /* Literal.String.Interpol */
.highlight .sx { color: #C3E88D } /* Literal.String.Other */
.highlight .sr { color: #89DDFF } /* Literal.String.Regex */
.highlight .s1 { color: #C3E88D } /* Literal.String.Single */
.highlight .ss { color: #C3E88D } /* Literal.String.Symbol */
.highlight .bp { color: #C792EA } /* Name.Builtin.Pseudo */
.highlight .fm { color: #82AAFF } /* Name.Function.Magic */
.highlight .vc { color: #EFF } /* Name.Variable.Class */
.highlight .vg { color: #EFF } /* Name.Variable.Global */
.highlight .vi { color: #EFF } /* Name.Variable.Instance */
.highlight .vm { color: #EFF } /* Name.Variable.Magic */
.highlight .il { color: #F78C6C } /* Literal.Number.Integer.Long */
