pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #45475a }
.highlight { background: #1e1e2e; color: #CDD6F4 }
.highlight .c { color: #9399B2 } /* Comment */
.highlight .err { color: #F38BA8 } /* Error */
.highlight .k { color: #CBA6F7 } /* Keyword */
.highlight .l { color: #A6E3A1 } /* Literal */
.highlight .o { color: #94E2D5 } /* Operator */
.highlight .p { color: #9399B2 } /* Punctuation */
.highlight .ch { color: #9399B2 } /* Comment.Hashbang */
.highlight .cm { color: #9399B2; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #F9E2AF } /* Comment.Preproc */
.highlight .cpf { color: #A6E3A1 } /* Comment.PreprocFile */
.highlight .c1 { color: #9399B2; font-style: italic } /* Comment.Single */
.highlight .cs { color: #9399B2 } /* Comment.Special */
.highlight .gd { color: #F38BA8 } /* Generic.Deleted */
.highlight .ge { color: #F38BA8; font-style: italic } /* Generic.Emph */
.highlight .ges { color: #F38BA8; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.highlight .gr { color: #F38BA8 } /* Generic.Error */
.highlight .gh { color: #F38BA8 } /* Generic.Heading */
.highlight .gi { color: #A6E3A1 } /* Generic.Inserted */
.highlight .go { color: #A6E3A1 } /* Generic.Output */
.highlight .gp { color: #94E2D5 } /* Generic.Prompt */
.highlight .gs { color: #F38BA8; font-weight: bold } /* Generic.Strong */
.highlight .gt { color: #F38BA8 } /* Generic.Traceback */
.highlight .kc { color: #89B4FA } /* Keyword.Constant */
.highlight .kd { color: #CBA6F7 } /* Keyword.Declaration */
.highlight .kn { color: #CBA6F7 } /* Keyword.Namespace */
.highlight .kp { color: #CBA6F7 } /* Keyword.Pseudo */
.highlight .kr { color: #CBA6F7 } /* Keyword.Reserved */
.highlight .kt { color: #CBA6F7 } /* Keyword.Type */
.highlight .ld { color: #A6E3A1 } /* Literal.Date */
.highlight .m { color: #FAB387 } /* Literal.Number */
.highlight .s { color: #A6E3A1 } /* Literal.String */
.highlight .na { color: #F9E2AF } /* Name.Attribute */
.highlight .nb { color: #FAB387; font-style: italic } /* Name.Builtin */
.highlight .nc { color: #F9E2AF } /* Name.Class */
.highlight .no { color: #89B4FA } /* Name.Constant */
.highlight .nd { color: #89DCEB; font-style: italic } /* Name.Decorator */
.highlight .nf { color: #89B4FA } /* Name.Function */
.highlight .nt { color: #89B4FA } /* Name.Tag */
.highlight .nv { color: #CDD6F4 } /* Name.Variable */
.highlight .ow { color: #94E2D5 } /* Operator.Word */
.highlight .pm { color: #94E2D5 } /* Punctuation.Marker */
.highlight .w { color: #CDD6F4 } /* Text.Whitespace */
.highlight .mb { color: #FAB387 } /* Literal.Number.Bin */
.highlight .mf { color: #FAB387 } /* Literal.Number.Float */
.highlight .mh { color: #FAB387 } /* Literal.Number.Hex */
.highlight .mi { color: #FAB387 } /* Literal.Number.Integer */
.highlight .mo { color: #FAB387 } /* Literal.Number.Oct */
.highlight .sa { color: #A6E3A1 } /* Literal.String.Affix */
.highlight .sb { color: #A6E3A1 } /* Literal.String.Backtick */
.highlight .sc { color: #A6E3A1 } /* Literal.String.Char */
.highlight .dl { color: #A6E3A1 } /* Literal.String.Delimiter */
.highlight .sd { color: #A6E3A1 } /* Literal.String.Doc */
.highlight .s2 { color: #A6E3A1 } /* Literal.String.Double */
.highlight .se { color: #F5C2E7 } /* Literal.String.Escape */
.highlight .sh { color: #A6E3A1 } /* Literal.String.Heredoc */
.highlight .si { color: #F5C2E7 } /* Literal.String.Interpol */
.highlight .sx { color: #94E2D5 } /* Literal.String.Other */
.highlight .sr { color: #94E2D5 } /* Literal.String.Regex */
.highlight .s1 { color: #A6E3A1 } /* Literal.String.Single */
.highlight .ss { color: #A6E3A1 } /* Literal.String.Symbol */
.highlight .bp { color: #FAB387; font-style: italic } /* Name.Builtin.Pseudo */
.highlight .fm { color: #89DCEB } /* Name.Function.Magic */
.highlight .vc { color: #CDD6F4 } /* Name.Variable.Class */
.highlight .vg { color: #CDD6F4 } /* Name.Variable.Global */
.highlight .vi { color: #F5E0DC } /* Name.Variable.Instance */
.highlight .vm { color: #CDD6F4 } /* Name.Variable.Magic */
.highlight .il { color: #FAB387 } /* Literal.Number.Integer.Long */
