pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #ADD6FF26 }
.highlight { background: #1E1E1E; color: #D4D4D4 }
.highlight .c { color: #6A9955 } /* Comment */
.highlight .err { color: #F44747 } /* Error */
.highlight .k { color: #C586C0 } /* Keyword */
.highlight .l { color: #CE9178 } /* Literal */
.highlight .ch { color: #6A9955 } /* Comment.Hashbang */
.highlight .cm { color: #6A9955 } /* Comment.Multiline */
.highlight .cp { color: #C586C0 } /* Comment.Preproc */
.highlight .cpf { color: #CE9178 } /* Comment.PreprocFile */
.highlight .c1 { color: #6A9955 } /* Comment.Single */
.highlight .cs { color: #6A9955 } /* Comment.Special */
.highlight .gd { color: #CE9178 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #F44747 } /* Generic.Error */
.highlight .gh { color: #569CD6 } /* Generic.Heading */
.highlight .gi { color: #B5CEA8 } /* Generic.Inserted */
.highlight .go { color: #CE9178 } /* Generic.Output */
.highlight .gp { color: #C8C8C8 } /* Generic.Prompt */
.highlight .gs { color: #569CD6; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #569CD6 } /* Generic.Subheading */
.highlight .gt { color: #F44747 } /* Generic.Traceback */
.highlight .kc { color: #CE9178 } /* Keyword.Constant */
.highlight .kd { color: #C586C0 } /* Keyword.Declaration */
.highlight .kn { color: #C586C0 } /* Keyword.Namespace */
.highlight .kp { color: #D7BA7D } /* Keyword.Pseudo */
.highlight .kr { color: #C586C0 } /* Keyword.Reserved */
.highlight .kt { color: #569CD6 } /* Keyword.Type */
.highlight .ld { color: #CE9178 } /* Literal.Date */
.highlight .m { color: #B5CEA8 } /* Literal.Number */
.highlight .s { color: #CE9178 } /* Literal.String */
.highlight .na { color: #9CDCFE } /* Name.Attribute */
.highlight .nb { color: #DCDCAA } /* Name.Builtin */
.highlight .nc { color: #4EC9B0 } /* Name.Class */
.highlight .no { color: #B5CEA8 } /* Name.Constant */
.highlight .nd { color: #DCDCAA } /* Name.Decorator */
.highlight .ne { color: #4EC9B0 } /* Name.Exception */
.highlight .nf { color: #DCDCAA } /* Name.Function */
.highlight .nl { color: #C8C8C8 } /* Name.Label */
.highlight .nx { color: #D4D4D4 } /* Name.Other */
.highlight .nt { color: #569CD6 } /* Name.Tag */
.highlight .w { color: #D4D4D4 } /* Text.Whitespace */
.highlight .mb { color: #B5CEA8 } /* Literal.Number.Bin */
.highlight .mf { color: #B5CEA8 } /* Literal.Number.Float */
.highlight .mh { color: #B5CEA8 } /* Literal.Number.Hex */
.highlight .mi { color: #B5CEA8 } /* Literal.Number.Integer */
.highlight .mo { color: #B5CEA8 } /* Literal.Number.Oct */
.highlight .sa { color: #CE9178 } /* Literal.String.Affix */
.highlight .sb { color: #CE9178 } /* Literal.String.Backtick */
.highlight .sc { color: #CE9178 } /* Literal.String.Char */
.highlight .dl { color: #CE9178 } /* Literal.String.Delimiter */
.highlight .sd { color: #CE9178 } /* Literal.String.Doc */
.highlight .s2 { color: #CE9178 } /* Literal.String.Double */
.highlight .se { color: #CE9178 } /* Literal.String.Escape */
.highlight .sh { color: #CE9178 } /* Literal.String.Heredoc */
.highlight .si { color: #569CD6 } /* Literal.String.Interpol */
.highlight .sx { color: #CE9178 } /* Literal.String.Other */
.highlight .sr { color: #D16969 } /* Literal.String.Regex */
.highlight .s1 { color: #CE9178 } /* Literal.String.Single */
.highlight .ss { color: #CE9178 } /* Literal.String.Symbol */
.highlight .bp { color: #D7BA7D } /* Name.Builtin.Pseudo */
.highlight .fm { color: #DCDCAA } /* Name.Function.Magic */
.highlight .il { color: #B5CEA8 } /* Literal.Number.Integer.Long */
