pre { line-height: 125%; }
td.linenos .normal { color: #7f897da0; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #7f897da0; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #475258b0 }
.highlight { background: #2d353b; color: #D3C6AA }
.highlight .c { color: #859289 } /* Comment */
.highlight .err { color: #E67E80 } /* Error */
.highlight .k { color: #E67E80 } /* Keyword */
.highlight .o { color: #E69875 } /* Operator */
.highlight .ch { color: #859289 } /* Comment.Hashbang */
.highlight .cm { color: #859289; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #E67E80 } /* Comment.Preproc */
.highlight .cpf { color: #DBBC7F } /* Comment.PreprocFile */
.highlight .c1 { color: #859289; font-style: italic } /* Comment.Single */
.highlight .cs { color: #859289 } /* Comment.Special */
.highlight .gd { color: #E67E80 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #E67E80 } /* Generic.Error */
.highlight .gh { color: #E67E80; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #A7C080 } /* Generic.Inserted */
.highlight .go { color: #DBBC7F } /* Generic.Output */
.highlight .gp { color: #7F897D } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .g-SubHeading { color: #E69875; font-weight: bold } /* Generic.SubHeading */
.highlight .gt { color: #E67E80 } /* Generic.Traceback */
.highlight .kc { color: #D699B6 } /* Keyword.Constant */
.highlight .kd { color: #E69875 } /* Keyword.Declaration */
.highlight .kn { color: #D699B6 } /* Keyword.Namespace */
.highlight .kp { color: #E67E80 } /* Keyword.Pseudo */
.highlight .kr { color: #E69875 } /* Keyword.Reserved */
.highlight .kt { color: #7FBBB3 } /* Keyword.Type */
.highlight .m { color: #D699B6 } /* Literal.Number */
.highlight .s { color: #A7C080 } /* Literal.String */
.highlight .na { color: #DBBC7F } /* Name.Attribute */
.highlight .nb { color: #A7C080 } /* Name.Builtin */
.highlight .nc { color: #7FBBB3 } /* Name.Class */
.highlight .no { color: #D699B6 } /* Name.Constant */
.highlight .nd { color: #83C092 } /* Name.Decorator */
.highlight .nf { color: #A7C080 } /* Name.Function */
.highlight .nl { color: #83C092 } /* Name.Label */
.highlight .nt { color: #E69875 } /* Name.Tag */
.highlight .ow { color: #E69875 } /* Operator.Word */
.highlight .w { color: #D3C6AA } /* Text.Whitespace */
.highlight .mb { color: #D699B6 } /* Literal.Number.Bin */
.highlight .mf { color: #D699B6 } /* Literal.Number.Float */
.highlight .mh { color: #D699B6 } /* Literal.Number.Hex */
.highlight .mi { color: #D699B6 } /* Literal.Number.Integer */
.highlight .mo { color: #D699B6 } /* Literal.Number.Oct */
.highlight .sa { color: #A7C080 } /* Literal.String.Affix */
.highlight .sb { color: #A7C080 } /* Literal.String.Backtick */
.highlight .sc { color: #A7C080 } /* Literal.String.Char */
.highlight .dl { color: #A7C080 } /* Literal.String.Delimiter */
.highlight .sd { color: #DBBC7F } /* Literal.String.Doc */
.highlight .s2 { color: #DBBC7F } /* Literal.String.Double */
.highlight .se { color: #A7C080 } /* Literal.String.Escape */
.highlight .sh { color: #A7C080 } /* Literal.String.Heredoc */
.highlight .si { color: #D3C6AA } /* Literal.String.Interpol */
.highlight .sx { color: #A7C080 } /* Literal.String.Other */
.highlight .sr { color: #A7C080 } /* Literal.String.Regex */
.highlight .s1 { color: #DBBC7F } /* Literal.String.Single */
.highlight .ss { color: #A7C080 } /* Literal.String.Symbol */
.highlight .bp { color: #A7C080 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #A7C080 } /* Name.Function.Magic */
.highlight .vi { color: #D3C6AA } /* Name.Variable.Instance */
.highlight .vm { color: #D3C6AA; font-style: italic } /* Name.Variable.Magic */
.highlight .il { color: #D699B6 } /* Literal.Number.Integer.Long */
