pre { line-height: 125%; }
td.linenos .normal { color: #8c959f; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #8c959f; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #4ac26b40 }
.highlight { background: #ffffff; color: #1F2328 }
.highlight .c { color: #6E7781 } /* Comment */
.highlight .err { color: #82071E } /* Error */
.highlight .esc { color: #0A3069 } /* Escape */
.highlight .k { color: #CF222E } /* Keyword */
.highlight .l { color: #0A3069 } /* Literal */
.highlight .o { color: #CF222E } /* Operator */
.highlight .ch { color: #6E7781 } /* Comment.Hashbang */
.highlight .cm { color: #6E7781 } /* Comment.Multiline */
.highlight .cp { color: #CF222E } /* Comment.Preproc */
.highlight .cpf { color: #0A3069 } /* Comment.PreprocFile */
.highlight .c1 { color: #6E7781 } /* Comment.Single */
.highlight .cs { color: #6E7781 } /* Comment.Special */
.highlight .gd { color: #82071E } /* Generic.Deleted */
.highlight .ge { color: #1F2328; font-style: italic } /* Generic.Emph */
.highlight .ges { color: #1F2328; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.highlight .gr { color: #82071E } /* Generic.Error */
.highlight .gh { color: #0550AE; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #116329 } /* Generic.Inserted */
.highlight .go { color: #0A3069 } /* Generic.Output */
.highlight .gp { color: #CF222E } /* Generic.Prompt */
.highlight .gs { color: #1F2328; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #0550AE } /* Generic.Subheading */
.highlight .gt { color: #82071E } /* Generic.Traceback */
.highlight .kc { color: #0550AE } /* Keyword.Constant */
.highlight .kd { color: #CF222E } /* Keyword.Declaration */
.highlight .kn { color: #CF222E } /* Keyword.Namespace */
.highlight .kp { color: #CF222E } /* Keyword.Pseudo */
.highlight .kr { color: #CF222E } /* Keyword.Reserved */
.highlight .kt { color: #953800 } /* Keyword.Type */
.highlight .ld { color: #0A3069 } /* Literal.Date */
.highlight .m { color: #0550AE } /* Literal.Number */
.highlight .s { color: #0A3069 } /* Literal.String */
.highlight .na { color: #0550AE } /* Name.Attribute */
.highlight .nb { color: #0550AE } /* Name.Builtin */
.highlight .nc { color: #953800 } /* Name.Class */
.highlight .no { color: #0550AE } /* Name.Constant */
.highlight .nd { color: #0550AE } /* Name.Decorator */
.highlight .ni { color: #0550AE } /* Name.Entity */
.highlight .ne { color: #0550AE } /* Name.Exception */
.highlight .nf { color: #8250DF } /* Name.Function */
.highlight .nl { color: #0A3069 } /* Name.Label */
.highlight .py { color: #0550AE } /* Name.Property */
.highlight .nt { color: #116329 } /* Name.Tag */
.highlight .ow { color: #0550AE } /* Operator.Word */
.highlight .w { color: #1F2328 } /* Text.Whitespace */
.highlight .mb { color: #0550AE } /* Literal.Number.Bin */
.highlight .mf { color: #0550AE } /* Literal.Number.Float */
.highlight .mh { color: #0550AE } /* Literal.Number.Hex */
.highlight .mi { color: #0550AE } /* Literal.Number.Integer */
.highlight .mo { color: #0550AE } /* Literal.Number.Oct */
.highlight .sa { color: #CF222E } /* Literal.String.Affix */
.highlight .sb { color: #0550AE } /* Literal.String.Backtick */
.highlight .sc { color: #0A3069 } /* Literal.String.Char */
.highlight .dl { color: #0A3069 } /* Literal.String.Delimiter */
.highlight .sd { color: #0A3069 } /* Literal.String.Doc */
.highlight .s2 { color: #0A3069 } /* Literal.String.Double */
.highlight .se { color: #0A3069 } /* Literal.String.Escape */
.highlight .sh { color: #0A3069 } /* Literal.String.Heredoc */
.highlight .si { color: #CF222E } /* Literal.String.Interpol */
.highlight .sx { color: #0A3069 } /* Literal.String.Other */
.highlight .sr { color: #0A3069 } /* Literal.String.Regex */
.highlight .s1 { color: #0A3069 } /* Literal.String.Single */
.highlight .ss { color: #0550AE } /* Literal.String.Symbol */
.highlight .bp { color: #0550AE } /* Name.Builtin.Pseudo */
.highlight .fm { color: #0550AE } /* Name.Function.Magic */
.highlight .vc { color: #953800 } /* Name.Variable.Class */
.highlight .il { color: #0550AE } /* Literal.Number.Integer.Long */
