pre { line-height: 125%; }
td.linenos .normal { color: #7b6995; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #7b6995; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #eb64b927 }
.highlight { background: #27212e; color: #FFF }
.highlight .c { color: #91889B } /* Comment */
.highlight .err { color: #EB64B9 } /* Error */
.highlight .k { color: #40B4C4 } /* Keyword */
.highlight .l { color: #B4DCE7 } /* Literal */
.highlight .o { color: #74DFC4 } /* Operator */
.highlight .p { color: #7B6995 } /* Punctuation */
.highlight .ch { color: #91889B } /* Comment.Hashbang */
.highlight .cm { color: #91889B } /* Comment.Multiline */
.highlight .cp { color: #40B4C4 } /* Comment.Preproc */
.highlight .cpf { color: #B4DCE7 } /* Comment.PreprocFile */
.highlight .c1 { color: #91889B } /* Comment.Single */
.highlight .cs { color: #91889B } /* Comment.Special */
.highlight .gd { color: #EB64B9 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.highlight .gr { color: #EB64B9 } /* Generic.Error */
.highlight .gh { color: #40B4C4; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #74DFC4 } /* Generic.Inserted */
.highlight .go { color: #B4DCE7 } /* Generic.Output */
.highlight .gp { color: #91889B } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #EB64B9 } /* Generic.Traceback */
.highlight .kc { color: #B381C5 } /* Keyword.Constant */
.highlight .kd { color: #B381C5 } /* Keyword.Declaration */
.highlight .kn { color: #40B4C4 } /* Keyword.Namespace */
.highlight .kp { color: #40B4C4 } /* Keyword.Pseudo */
.highlight .kr { color: #40B4C4 } /* Keyword.Reserved */
.highlight .kt { color: #B381C5 } /* Keyword.Type */
.highlight .ld { color: #B4DCE7 } /* Literal.Date */
.highlight .m { color: #B381C5 } /* Literal.Number */
.highlight .s { color: #B4DCE7 } /* Literal.String */
.highlight .na { color: #EB64B9 } /* Name.Attribute */
.highlight .nb { color: #FFE261 } /* Name.Builtin */
.highlight .nc { color: #EB64B9 } /* Name.Class */
.highlight .no { color: #B381C5 } /* Name.Constant */
.highlight .nd { color: #74DFC4 } /* Name.Decorator */
.highlight .nf { color: #EB64B9 } /* Name.Function */
.highlight .nl { color: #B381C5 } /* Name.Label */
.highlight .py { color: #40B4C4 } /* Name.Property */
.highlight .nt { color: #74DFC4 } /* Name.Tag */
.highlight .ow { color: #74DFC4 } /* Operator.Word */
.highlight .pm { color: #7B6995 } /* Punctuation.Marker */
.highlight .w { color: #FFF } /* Text.Whitespace */
.highlight .mb { color: #B381C5 } /* Literal.Number.Bin */
.highlight .mf { color: #B381C5 } /* Literal.Number.Float */
.highlight .mh { color: #B381C5 } /* Literal.Number.Hex */
.highlight .mi { color: #B381C5 } /* Literal.Number.Integer */
.highlight .mo { color: #B381C5 } /* Literal.Number.Oct */
.highlight .sa { color: #B4DCE7 } /* Literal.String.Affix */
.highlight .sb { color: #EB64B9 } /* Literal.String.Backtick */
.highlight .sc { color: #B4DCE7 } /* Literal.String.Char */
.highlight .dl { color: #B4DCE7 } /* Literal.String.Delimiter */
.highlight .sd { color: #B4DCE7 } /* Literal.String.Doc */
.highlight .s2 { color: #B4DCE7 } /* Literal.String.Double */
.highlight .se { color: #B4DCE7 } /* Literal.String.Escape */
.highlight .sh { color: #B4DCE7 } /* Literal.String.Heredoc */
.highlight .si { color: #B4DCE7 } /* Literal.String.Interpol */
.highlight .sx { color: #B4DCE7 } /* Literal.String.Other */
.highlight .sr { color: #B4DCE7 } /* Literal.String.Regex */
.highlight .s1 { color: #B4DCE7 } /* Literal.String.Single */
.highlight .ss { color: #B4DCE7 } /* Literal.String.Symbol */
.highlight .bp { color: #FFE261 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #EB64B9 } /* Name.Function.Magic */
.highlight .il { color: #B381C5 } /* Literal.Number.Integer.Long */
