pre { line-height: 125%; }
td.linenos .normal { color: #9D9D9F; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #9D9D9F; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #E5E5E6 }
.highlight { background: #FAFAFA; color: #383A42 }
.highlight .c { color: #A0A1A7 } /* Comment */
.highlight .err { color: #CA1243 } /* Error */
.highlight .esc { color: #0184BC } /* Escape */
.highlight .k { color: #A626A4 } /* Keyword */
.highlight .l { color: #50A14F } /* Literal */
.highlight .o { color: #0184BC } /* Operator */
.highlight .ch { color: #A0A1A7 } /* Comment.Hashbang */
.highlight .cm { color: #A0A1A7; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #A626A4 } /* Comment.Preproc */
.highlight .cpf { color: #50A14F } /* Comment.PreprocFile */
.highlight .c1 { color: #A0A1A7; font-style: italic } /* Comment.Single */
.highlight .cs { color: #A0A1A7 } /* Comment.Special */
.highlight .gd { color: #E45649 } /* Generic.Deleted */
.highlight .ge { color: #A626A4; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #CA1243 } /* Generic.Error */
.highlight .gh { color: #E45649 } /* Generic.Heading */
.highlight .gi { color: #50A14F } /* Generic.Inserted */
.highlight .go { color: #50A14F } /* Generic.Output */
.highlight .gp { color: #9D9D9F } /* Generic.Prompt */
.highlight .gs { color: #986801 } /* Generic.Strong */
.highlight .gu { color: #E45649 } /* Generic.Subheading */
.highlight .gt { color: #CA1243 } /* Generic.Traceback */
.highlight .kc { color: #986801 } /* Keyword.Constant */
.highlight .kd { color: #A626A4 } /* Keyword.Declaration */
.highlight .kn { color: #A626A4 } /* Keyword.Namespace */
.highlight .kp { color: #4078F2 } /* Keyword.Pseudo */
.highlight .kr { color: #A626A4 } /* Keyword.Reserved */
.highlight .kt { color: #986801 } /* Keyword.Type */
.highlight .ld { color: #50A14F } /* Literal.Date */
.highlight .m { color: #986801 } /* Literal.Number */
.highlight .s { color: #50A14F } /* Literal.String */
.highlight .na { color: #986801 } /* Name.Attribute */
.highlight .nb { color: #0184BC } /* Name.Builtin */
.highlight .nc { color: #C18401 } /* Name.Class */
.highlight .no { color: #C18401 } /* Name.Constant */
.highlight .nd { color: #0184BC } /* Name.Decorator */
.highlight .ne { color: #0184BC } /* Name.Exception */
.highlight .nf { color: #4078F2 } /* Name.Function */
.highlight .nl { color: #4078F2 } /* Name.Label */
.highlight .nt { color: #E45649 } /* Name.Tag */
.highlight .nv { color: #E45649 } /* Name.Variable */
.highlight .ow { color: #0184BC } /* Operator.Word */
.highlight .w { color: #383A42 } /* Text.Whitespace */
.highlight .mb { color: #986801 } /* Literal.Number.Bin */
.highlight .mf { color: #986801 } /* Literal.Number.Float */
.highlight .mh { color: #986801 } /* Literal.Number.Hex */
.highlight .mi { color: #986801 } /* Literal.Number.Integer */
.highlight .mo { color: #986801 } /* Literal.Number.Oct */
.highlight .sa { color: #A626A4 } /* Literal.String.Affix */
.highlight .sb { color: #50A14F } /* Literal.String.Backtick */
.highlight .sc { color: #50A14F } /* Literal.String.Char */
.highlight .dl { color: #50A14F } /* Literal.String.Delimiter */
.highlight .sd { color: #50A14F } /* Literal.String.Doc */
.highlight .s2 { color: #50A14F } /* Literal.String.Double */
.highlight .se { color: #0184BC } /* Literal.String.Escape */
.highlight .sh { color: #50A14F } /* Literal.String.Heredoc */
.highlight .si { color: #986801 } /* Literal.String.Interpol */
.highlight .sx { color: #50A14F } /* Literal.String.Other */
.highlight .sr { color: #E45649 } /* Literal.String.Regex */
.highlight .s1 { color: #50A14F } /* Literal.String.Single */
.highlight .ss { color: #0184BC } /* Literal.String.Symbol */
.highlight .bp { color: #C18401 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #4078F2 } /* Name.Function.Magic */
.highlight .vc { color: #E45649 } /* Name.Variable.Class */
.highlight .vg { color: #E45649 } /* Name.Variable.Global */
.highlight .vi { color: #E45649 } /* Name.Variable.Instance */
.highlight .vm { color: #E45649 } /* Name.Variable.Magic */
.highlight .il { color: #986801 } /* Literal.Number.Integer.Long */
