---
name: Auto Update DB
permissions:
  contents: read

on:
  issues:
    types:
      - labeled

# no point in concurrency since it still cancels pending jobs

jobs:
  auto_update_db:
    if: (github.event.label.name == 'request-theme' || github.event.label.name == 'approve-theme')
    runs-on: ubuntu-latest
    env:
      EVENT_ISSUE_NUMBER: ${{ github.event.issue.number }}
      GH_TOKEN: ${{ github.token }}

    steps:
      - name: Check if member
        if: (github.event.label.name == 'approve-theme')
        # if someone, somehow, adds the approval label but isn't a member, then exit
        run: |
          gh api \
            -H "Accept: application/vnd.github+json" \
            "/orgs/${GITHUB_REPOSITORY_OWNER}/members/${GITHUB_ACTOR}" || exit 1

      - name: Queue
        # we only want to run one add job at a time, so queue them
        if: (github.event.label.name == 'approve-theme')
        uses: ahmadnassri/action-workflow-queue@542658b3a8270cac81ae15d401b0d974732808ac  # v1.2.0

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          ref: database
          path: database
          persist-credentials: false  # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
          fetch-depth: 0  # otherwise, will fail to push refs to dest repo

      - name: Install Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405  # v6.2.0
        with:
          python-version: '3.14'

      - name: Setup Python Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt

      - name: Parse Issue
        uses: stefanbuck/github-issue-parser@10dcc54158ba4c137713d9d69d70a2da63b6bda3  # v3.2.3
        id: issue-parser
        with:
          template-path: .github/ISSUE_TEMPLATE/theme.yml

      - name: Crease JSON
        env:
          JSON_STRING: ${{ steps.issue-parser.outputs.jsonString }}
        run: echo "${JSON_STRING}" > submission.json

      - name: Update
        id: update
        env:
          ISSUE_AUTHOR_USER_ID: ${{ github.event.issue.user.id }}
          TMDB_API_KEY_V3: ${{ secrets.TMDB_API_KEY_V3 }}
          TWITCH_CLIENT_ID: ${{ secrets.TWITCH_CLIENT_ID }}
          TWITCH_CLIENT_SECRET: ${{ secrets.TWITCH_CLIENT_SECRET }}
          YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
        run: python -u ./src/updater.py --issue_update

      - name: Set Outputs
        id: outputs
        if: always()
        run: |
          # if exceptions.md file exists, then set output to true
          exception=false
          if [ -f exceptions.md ]; then
            exception=true
          fi
          echo "exception=${exception}" >> "${GITHUB_OUTPUT}"

          # if duplicate.md file exists, then set output to true
          duplicate=false
          if [ -f duplicate.md ]; then
            duplicate=true
          fi
          echo "duplicate=${duplicate}" >> "${GITHUB_OUTPUT}"

          # if auto_close.md file exists, then set output to true
          auto_close=false
          if [ -f auto_close.md ]; then
            auto_close=true
          fi
          echo "auto_close=${auto_close}" >> "${GITHUB_OUTPUT}"

      - name: Git Diff
        id: diff
        if: always()
        working-directory: database
        run: |
          echo "::group::issue_comment"
          git add .
          {
            echo ""
            echo "\`\`\`diff"
            git diff --cached
            echo "\`\`\`"
            echo ""
            echo ""
            cat ../bot_commands.md
          } >> ../comment.md
          cat ../comment.md
          echo "::endgroup::"

          echo "::group::issue_title"
          cat ../title.md
          echo "issue_title=$(cat ../title.md)" >> "${GITHUB_OUTPUT}"
          echo "::endgroup::"

      - name: Update Issue Title
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd  # v8.0.0
        env:
          ISSUE_TITLE: ${{ steps.diff.outputs.issue_title }}
        with:
          github-token: ${{ secrets.GH_BOT_TOKEN }}
          script: |
            github.rest.issues.update({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              title: process.env.ISSUE_TITLE
            })

      - name: Update Labels
        id: labels
        if: always()
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd  # v8.0.0
        with:
          github-token: ${{ secrets.GH_BOT_TOKEN }}
          result-encoding: string
          script: |
            // get labels
            const labels = await github.rest.issues.listLabelsOnIssue({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo
            })

            // get update outputs
            const exception = "${{ steps.outputs.outputs.exception }}"
            const duplicate = "${{ steps.outputs.outputs.duplicate }}"

            // create an array of current labels
            let current_labels = labels.data.map(label => label.name)

            // check if labels list contains "exception"
            const label_exception = current_labels.includes('exception')

            // add exception label if there was an exception and not already labeled
            if (!label_exception && exception === 'true') {
              current_labels.push('exception')
            } else if (label_exception && exception === 'false') {
              // remove exception label if there is no longer an exception
              const index = current_labels.indexOf('exception')
              current_labels.splice(index, 1)
            }

            // check if labels list contains "duplicate"
            const label_duplicate = current_labels.includes('duplicate')

            // add duplicate label if there was a duplicate and not already labeled
            if (!label_duplicate && duplicate === 'true') {
              current_labels.push('duplicate')
            } else if (label_duplicate && duplicate === 'false') {
              // remove duplicate label if there is no longer a duplicate
              const index = current_labels.indexOf('duplicate')
              current_labels.splice(index, 1)
            }

            // check if labels list contains "approve-theme"
            const approve_label = "approve-theme"

            let label_add = current_labels.includes(approve_label)
            if (label_add && exception === 'true') {
              // remove approve-theme label if there is an exception
              const index = current_labels.indexOf(approve_label)
              current_labels.splice(index, 1)
            }

            // remove label "approve-queue"
            const queue_label = "approve-queue"

            // this is always removed
            let label_remove = current_labels.includes(queue_label)
            if (label_remove) {
              const index = current_labels.indexOf(queue_label)
              current_labels.splice(index, 1)
            }

            // set labels
            await github.rest.issues.setLabels({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              labels: current_labels
            })

            // determine to continue or not
            if (label_add) {
              return 'true'
            }

      - name: Issue comment
        if: always()
        uses: mshick/add-pr-comment@b8f338c590a895d50bcbfa6c5859251edc8952fc  # v2.8.2
        with:
          repo-token: ${{ secrets.GH_BOT_TOKEN }}
          message-path: comment.md

      - name: Auto Close
        if:
          (github.event.label.name == 'request-theme') &&
          steps.outputs.outputs.auto_close == 'true'
        env:
          GH_TOKEN: ${{ secrets.GH_BOT_TOKEN }}
        run: |
          comment=$(cat auto_close.md)
          close_reason="not planned"
          lock_reason="resolved"

          gh issue close "${EVENT_ISSUE_NUMBER}" --comment "${comment}" --reason "${close_reason}"
          gh issue lock "${EVENT_ISSUE_NUMBER}" --reason "${lock_reason}"

      - name: GitHub Commit & Push
        if:
          (github.event.label.name == 'approve-theme') &&
          steps.outputs.outputs.exception == 'false' &&
          steps.labels.outputs.result == 'true'
        uses: actions-js/push@5a7cbd780d82c0c937b5977586e641b2fd94acc5  # v1.5
        with:
          author_email: ${{ secrets.GH_BOT_EMAIL }}
          author_name: ${{ secrets.GH_BOT_NAME }}
          branch: database
          directory: database
          github_token: ${{ secrets.GH_BOT_TOKEN }}
          message: 'chore: resolves #${{ github.event.issue.number }}'
          rebase: true

      - name: Close Issue
        if:
          (github.event.label.name == 'approve-theme') &&
          steps.outputs.outputs.exception == 'false' &&
          steps.labels.outputs.result == 'true'
        env:
          GH_TOKEN: ${{ secrets.GH_BOT_TOKEN }}
        run: |
          comment="This theme has been added/updated and will be available on the next daily scheduled update."
          close_reason="completed"
          lock_reason="resolved"

          gh issue close "${EVENT_ISSUE_NUMBER}" --comment "${comment}" --reason "${close_reason}"
          gh issue lock "${EVENT_ISSUE_NUMBER}" --reason "${lock_reason}"

      - name: Label next issue
        if:
          (github.event.label.name == 'approve-theme') &&
          steps.outputs.outputs.exception == 'false'
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd  # v8.0.0
        with:
          github-token: ${{ secrets.GH_BOT_TOKEN }}
          script: |
            // get list of open issues
            const issues = await github.rest.issues.listForRepo({
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: 'open',
              labels: 'approve-queue'
            })

            // add approve-theme label to first issue found
            if (issues.data.length > 0) {
              github.rest.issues.addLabels({
                issue_number: issues.data[0].number,
                owner: context.repo.owner,
                repo: context.repo.repo,
                labels: ['approve-theme']
              })
            }
