---
name: Update
permissions: {}

on:
  pull_request:
    branches:
      - master
    types:
      - opened
      - synchronize
      - reopened
  push:
    branches:
      - master
  schedule:
    - cron: '0 12 * * *'  # every day at noon UTC
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  update:
    permissions:
      contents: read
    runs-on: windows-latest  # use windows because orca needs a display
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Checkout database
        uses: actions/checkout@v6
        with:
          ref: database
          path: database
          persist-credentials: false  # otherwise, the token used is the GITHUB_TOKEN, instead of the personal token
          fetch-depth: 0  # otherwise, will fail to push refs to dest repo

      - name: Get current date
        id: date
        shell: bash
        run: |
          echo "date=$(date +'%Y-%m-%d')" >> "${GITHUB_OUTPUT}"

          # get yesterday's date for tmdb download
          MONTH=$(date +'%m')
          DAY=$(date +'%d')
          YEAR=$(date +'%Y')
          YESTERDAY=$((DAY-1))
          echo "tmdb_date=${MONTH}_${YESTERDAY}_${YEAR}" >> "${GITHUB_OUTPUT}"

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install -r requirements.txt

      - name: Install npm dependencies
        run: npm install --ignore-scripts

      - name: Update
        env:
          TMDB_API_KEY_V3: ${{ secrets.TMDB_API_KEY_V3 }}
          TWITCH_CLIENT_ID: ${{ secrets.TWITCH_CLIENT_ID }}
          TWITCH_CLIENT_SECRET: ${{ secrets.TWITCH_CLIENT_SECRET }}
          YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
        # only if secrets are available
        if: env.TMDB_API_KEY_V3 != null
        run: |
          # get daily movies list from tmdb
          # wget https://files.tmdb.org/p/exports/movie_ids_${{ steps.date.outputs.tmdb_date }}.json.gz \
          #   -O movies.json.gz

          # get daily collections list from tmdb
          # wget https://files.tmdb.org/p/exports/collection_ids_${{ steps.date.outputs.tmdb_date }}.json.gz \
          #   -O collections.json.gz

          python -u ./src/updater.py --daily_update

      - name: Archive database
        shell: bash
        run: |
          7z \
            "-xr!*.git*" \
            a "./build.zip" "./database/*" "./gh-pages-template/*"

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: update
          if-no-files-found: error
          path: |
            ${{ github.workspace }}/build.zip

      - name: GitHub Commit & Push
        if:
          (github.event_name == 'push' && github.ref == 'refs/heads/master') ||
          (github.event_name == 'schedule' || github.event_name == 'workflow_dispatch')
        uses: actions-js/push@v1.5
        with:
          author_email: ${{ secrets.GH_BOT_EMAIL }}
          author_name: ${{ secrets.GH_BOT_NAME }}
          branch: database
          directory: database
          github_token: ${{ secrets.GH_BOT_TOKEN }}
          message: 'chore: automatic-update-${{ steps.date.outputs.date }}'
          rebase: true

  call-jekyll-build:
    needs: update
    permissions:
      contents: read
    uses: LizardByte/LizardByte.github.io/.github/workflows/jekyll-build.yml@master
    secrets:
      GH_BOT_EMAIL: ${{ secrets.GH_BOT_EMAIL }}
      GH_BOT_NAME: ${{ secrets.GH_BOT_NAME }}
      GH_BOT_TOKEN: ${{ secrets.GH_BOT_TOKEN }}
    with:
      site_artifact: 'update'
      extract_archive: 'build.zip'
      target_branch: 'gh-pages'
      clean_gh_pages: true
